apiVersion: v1
kind: Service
metadata:
  name: postgres-service
spec:
  ports: [{port: 5432}]
  selector: {app: postgres}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
spec:
  storageClassName: manual
  accessModes: [ReadWriteOnce]
  resources: {requests: {storage: 5Gi}}
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres
spec:
  serviceName: "postgres"
  replicas: 1
  selector: {matchLabels: {app: postgres}}
  template:
    metadata: {labels: {app: postgres}}
    spec:
      nodeSelector: {kubernetes.io/hostname: oss02}
      containers:
      - name: postgres
        image: postgres:15-alpine
        env:
        - name: POSTGRES_PASSWORD
          value: postgres
        volumeMounts:
        - name: pg-data
          mountPath: /var/lib/postgresql/data
          subPath: postgres_data # The crucial fix
      volumes:
      - name: pg-data
        persistentVolumeClaim: {claimName: postgres-pvc}
